#include <windows.h>

// Application Icon
1 ICON "auduo.ico"

// Application Manifest
1 24 "auduo.exe.manifest"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Aivin Koshy"
            VALUE "FileDescription",  "AuDuo - Dual Audio Mirroring & Auto-Sync"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "auduo"
            VALUE "LegalCopyright",   "Copyright (c) 2026 Aivin Koshy"
            VALUE "OriginalFilename", "auduo.exe"
            VALUE "ProductName",      "AuDuo"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
